@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Login_Title");
}

<div class="form-group">
    <div class="form-inline">
        @Html.TextBox("txtClassName", "MVC5Template.Models.User", new { @class = "form-control", @id = "ClassName", @style = "width:500px;" })
        <input type="button" value="@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_JsonSample_btnRequest_Value")" name="btnRequest" id="btnRequest" class="btn btn-default" />
    </div>
</div>
<div class="form-group">
    @Html.TextArea("txtJsonText", new { id = "JsonText", @class = "form-control", style = "height:400px; min-width: 100%;" })
    <div class="form-inline">
        @Html.Label("Status")
        @Html.TextBox("txtStatus", "", new { @class = "form-control", @id = "Status", @style = "width:500px;" })
        @Html.Label("Error")
        @Html.TextBox("txtError", "", new { @class = "form-control", @id = "Error", @style = "width:500px;" })
    </div>
</div>
@section scripts
{
    <script>
        $("#btnRequest").click(function () {
            var url = "/api/convert/";
            var data = "className=" + $("#ClassName").val();
            $.when(jModule.getAjaxJsonRequest(url, data)).then(function (data, textStatus, jqXHR) {
                $("#JsonText").val(data);
                $("#Status").val(textStatus);
                $("#Error").val(jqXHR);
            }, function (jqXHR, textStatus, errorThrown) {
                $("#JsonText").val(jqXHR.responseJSON.Message);
                $("#Status").val(textStatus);
                $("#Error").val(errorThrown);
            });
        });
    </script>
}