@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_SampleHome_Index_Title");
}

<div class="row">
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_User_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Index_User_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_User_Index_Title").ToString(), "Index", "User", new { area = "Sample" }, new { id = "lnkUser", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>
            <a href="https://handsontable.com/" target="_blank">
                @HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Handsontable_Title")
            </a>
        </h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Plugin_Handsontable_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Handsontable_Title").ToString(), "Handsontable", "Plugin", new { area = "Sample" }, new { id = "lnkHandsontable", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Calendar_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Plugin_Calendar_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Calendar_Title").ToString(), "Calendar", "Plugin", new { area = "Sample" }, new { id = "lnkCalendar", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>
            <a href="https://blueimp.github.io/Gallery/" target="_blank">
                @HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_ImageGallery_Title")
            </a>
        </h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Plugin_ImageGallery_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_ImageGallery_Title").ToString(), "ImageGallery", "Plugin", new { area = "Sample" }, new { id = "lnkImageGallery", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_FormsAuthentication_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_FormsAuthentication_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_FormsAuthentication_Index_Title").ToString(), "Index", "FormsAuthentication", new { area = "Sample" }, new { id = "lnkFormsAuthentication", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Session_Title")</h2>
        <h2></h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Plugin_Session_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Plugin_Session_Title").ToString(), "Session", "Plugin", new { area = "Sample" }, new { id = "lnkSession", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_ResultSample_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_ResultSample_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_ResultSample_Index_Title").ToString(), "Index", "ResultSample", new { area = "Sample" }, new { id = "lnkResultSample", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_JsonSample_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_JsonSample_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_JsonSample_Index_Title").ToString(), "Index", "JsonSample", new { area = "Sample" }, new { id = "lnkJsonSample", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Exception_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_Exception_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_Exception_Index_Title").ToString(), "Index", "Exception", new { area = "Sample" }, new { id = "lnkException", @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>@HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_BulletinBoard_Index_Title")</h2>
        <p>@Html.Raw(HttpContext.GetGlobalResourceObject("ResourceMessage", "Sample_SampleHome_BulletinBoard_Index_About"))</p>
        <p>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Sample_BulletinBoard_Index_Title").ToString(), "Index", "BulletinBoard", new { area = "Sample" }, new { id = "lnkBulletinBoard", @class = "btn btn-primary" })</p>
    </div>

</div>