@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Login_Title");
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="lead">ちょっと動く</p>
            <p>@Html.ActionLink("Handsontable", "Handsontable", "Plugin", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">ちょっと動く</p>
            <p>@Html.ActionLink("Calendar", "Calendar", "Plugin", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">おまけ：未完成</p>
            <p>@Html.ActionLink("ImageGallery", "ImageGallery", "Plugin", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">認証系：クッキー情報表示</p>
            <p>@Html.ActionLink("FormsAuthentication", "Index", "FormsAuthentication", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">セッションの情報を表示する</p>
            <p>@Html.ActionLink("Session", "Session", "Plugin", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">未完成</p>
            <p>@Html.ActionLink("ResultSample", "Index", "ResultSample", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p class="lead">未完成</p>
            <p>@Html.ActionLink("JsonSample", "Index", "JsonSample", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
            <p>@Html.ActionLink("Exception", "Index", "Exception", new { area = "Sample" }, new { @class = "btn btn-default" })</p>
            <br />
        </div>
    </div>
</div>