@model IEnumerable<User>

@section Styles {
    @Styles.Render("~/Content/datatables")
}

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-default" })
</p>
<table id="session" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefectures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefectures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobilePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefectures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#session').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "LengthMenu")",
                    "zeroRecords": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "ZeroRecords")",
                    "info": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "Info")",
                    "infoEmpty": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "InfoEmpty")",
                    "infoFiltered": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "InfoFiltered")"
                }
            });
        });
    </script>
}