@model MVC5Template.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Account_Login_Title");
}

@section styles {
    <link href="~/Content/App_Style/Login.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    <div class="placeholder center-block">
        @Html.ValidationMessage("Login_Error", new { @class = "text-danger" })
        <div class="well">
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserID,
                    new
                    {
                        maxlength = "6",
                        id = "txtUserID",
                        @class = "form-control",
                        placeholder = HttpContext.GetGlobalResourceObject("ResourceElementValue", "Account_Login_UserID").ToString()
                    })
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password,
                    new
                    {
                        maxlength = "30",
                        id = "pwdPassword",
                        @class = "form-control",
                        placeholder = HttpContext.GetGlobalResourceObject("ResourceElementValue", "Account_Login_Password").ToString()
                    })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="@HttpContext.GetGlobalResourceObject("ResourceElementValue", "Account_Login_btnLogin").ToString()" id="btnLogin" class="btn btn-lg btn-primary btn-block" />
        </div>
    </div>
}
