@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@FormsAuthentication.CookieDomain
@FormsAuthentication.CookieMode
@FormsAuthentication.CookiesSupported
@FormsAuthentication.DefaultUrl
@FormsAuthentication.EnableCrossAppRedirects
@FormsAuthentication.FormsCookieName
@FormsAuthentication.FormsCookiePath
@FormsAuthentication.IsEnabled
@FormsAuthentication.LoginUrl
@FormsAuthentication.RequireSSL
@FormsAuthentication.SlidingExpiration
@FormsAuthentication.TicketCompatibilityMode
@FormsAuthentication.Timeout
