@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.GetGlobalResourceObject("ResourceTitle", "Login_Title");
}

<div class="container">
    <h2>クッキー情報</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>値</th>
                <th>名前</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CookieDomain</td>
                <td>@FormsAuthentication.CookieDomain</td>
            </tr>
            <tr>
                <td>CookieMode</td>
                <td>@FormsAuthentication.CookieMode</td>
            </tr>
            <tr>
                <td>CookiesSupported</td>
                <td>@FormsAuthentication.CookiesSupported</td>
            </tr>
            <tr>
                <td>DefaultUrl</td>
                <td>@FormsAuthentication.DefaultUrl</td>
            </tr>
            <tr>
                <td>EnableCrossAppRedirects</td>
                <td>@FormsAuthentication.EnableCrossAppRedirects</td>
            </tr>
            <tr>
                <td>FormsCookieName</td>
                <td>@FormsAuthentication.FormsCookieName</td>
            </tr>
            <tr>
                <td>FormsCookiePath</td>
                <td>@FormsAuthentication.FormsCookiePath</td>
            </tr>
            <tr>
                <td>IsEnabled</td>
                <td>@FormsAuthentication.IsEnabled</td>
            </tr>
            <tr>
                <td>LoginUrl</td>
                <td>@FormsAuthentication.LoginUrl</td>
            </tr>
            <tr>
                <td>RequireSSL</td>
                <td>@FormsAuthentication.RequireSSL</td>
            </tr>
            <tr>
                <td>SlidingExpiration</td>
                <td>@FormsAuthentication.SlidingExpiration</td>
            </tr>
            <tr>
                <td>TicketCompatibilityMode</td>
                <td>@FormsAuthentication.TicketCompatibilityMode</td>
            </tr>
            <tr>
                <td>Timeout</td>
                <td>@FormsAuthentication.Timeout</td>
            </tr>
        </tbody>
    </table>
</div>