
@{
    ViewBag.Title = "Index";
    for (int i = 0; i < 100; i++)
    {
        Session["SessionKey_" + i] = i;
    }
}

@section Styles {
    @Styles.Render("~/Content/datatables")
}

<table id="session" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>@HttpContext.GetGlobalResourceObject("ResourceElementValue", "Session_SessionKey")</th>
            <th>@HttpContext.GetGlobalResourceObject("ResourceElementValue", "Session_SessionValue")</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>@HttpContext.GetGlobalResourceObject("ResourceElementValue", "Session_SessionKey")</th>
            <th>@HttpContext.GetGlobalResourceObject("ResourceElementValue", "Session_SessionValue")</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (string key in Session.Keys)
        {
            <tr>
                <td>@key</td>
                <td>@Session[key]</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#session').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "LengthMenu")",
                    "zeroRecords": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "ZeroRecords")",
                    "info": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "Info")",
                    "infoEmpty": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "InfoEmpty")",
                    "infoFiltered": "@HttpContext.GetGlobalResourceObject("ResourceDataTables", "InfoFiltered")"
                }
            });
        });
    </script>
}