<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @HttpContext.GetGlobalResourceObject("ResourceTitle", "Layout_Title")</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header_scripts", required: false)
    <!--[if lt IE 9]>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Layout_Title").ToString(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_link_Home").ToString(), "Index", "Home", new { area = "" }, null)</li>
                <li><a href="#" onclick="history.back(); return false;">@(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_link_Back").ToString())</a></li>
                <li>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_link_Logout").ToString(), "Logout", "Account", new { area = "" }, null)</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="contents">
            @RenderBody()
        </div>
    </div>
    <div class="">
        <div class="footer">
            <hr />
            <div class="text-center">@(Html.Raw(String.Format(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_CopyRight").ToString(), DateTime.Now.Year)))</div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myApp")
    @RenderSection("scripts", required: false)
</body>
</html>
