@{
    var userInfo = (MVC5Template.Models.User)Session["UserInfo"];
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - @HttpContext.GetGlobalResourceObject("ResourceTitle", "Layout_Title")</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header_scripts", required: false)
    <!--[if lt IE 9]>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
    <script>
        function useHeader() {
            return true;
        }

        function useContents() {
            return true;
        }

        function useFooter() {
            return false;
        }

        window.onload = function () {
            if (!useHeader()) document.getElementsByClassName("header")[0].style.display = "none";
            if (!useContents()) document.getElementsByClassName("contents")[0].style.display = "none";
            if (!useFooter()) document.getElementsByClassName("footer")[0].style.display = "none";
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceTitle", "Layout_Title").ToString(), "Index", "Home", new { area = "" }, new { id = "lnkHeaderTitle", @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_link_Home").ToString(), "Index", "Home", new { area = "" }, new { id = "lnkNavHome"})</li>
                        <li>@Html.ActionLink(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_link_Logout").ToString(), "Logout", "Account", new { area = "" }, new { id = "lnkNavLogout" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                breadcrumb
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <ol class="breadcrumb">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Library</a></li>
                                        <li class="active">Data</li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-text navbar-right">
                        <div class="user-info">
                            @(userInfo.FamilyName + " " + userInfo.FirstName)(@userInfo.UserID)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                @(Html.Raw(String.Format(HttpContext.GetGlobalResourceObject("ResourceElementValue", "Layout_CopyRight").ToString(), DateTime.Now.Year)))
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myApp")
    @RenderSection("scripts", required: false)
</body>
</html>
